body {
    font-family: 'FuturaBold', Futura, Helvetica, Arial, sans-serif;
    color: #333;
}

.span {
    margin: 0;
}

h1 {
    display: block;
    width: 219px;
}

h1 a span {
    display: none;
}

a {
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #333;
}

.navbar {
    width: 492px;
    margin-top: 10px;
}

.navbar-inner {
    border: none;
    background: #fff;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  border-bottom: 2px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-search .search-query {
  font: 13px 'FuturaBold', Futura, Helvetica, Arial, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.mainContents {
    border-top: 1px solid #333;
    padding-top: 20px;
    margin-top: 40px;
}

article {
    background-color: purple;
    color: #fff;
}

.sideBar {
    background-color: orange;
}

footer {
    margin-top: 40px;
    height: 100px;
    background-color: green;
    text-align: center;
}

footer p {
    padding-top: 40px;

}